on: pull_request

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          marker: marker
          issue-number: ${{ github.event.pull_request.number }}
          body: This is a tracked message
